header {
    background: url(../assets/images/Yare-36.jpg) center no-repeat;
    background-size: cover;
    // min-height: 100vh;
    // max-height: 100vh;
    
}

header #carouselSlidesOnly {
    // width: 50%;
    position: relative;
  

}

header .carousel-inner {
    border-radius: 1%;
}

.pb-auto {
    width: 99%;
}

.promotions {
    background-color: #aaa;
}