header {
    background: url(../assets/images/Yare-17.jpg) center no-repeat;
    background-size: cover;


}

header #carouselSlidesOnly {
    position: relative;


}

header .carousel-inner {
    border-radius: 1%;
}

.pb-auto {
    width: 99%;
}

.container-fluid#business {
    background-color: #111111;
    color: #ffffff;
    height: 100vh;
}